.panel {
  flex: 1 0 60%;
  height: 100%;
  border-left: 1px solid #ebebeb;
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel-title {
  font-size: 14px;
  padding: 8px 0 8px 12px;
}

.panel-list {
  margin: 0;
  font-size: 14px;
  padding: 8px 8px 8px 12px;
  overflow: scroll;
  color: #333;
}

.panel-list-item {
  list-style: none;
  padding: 0 0 6px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.list-item-key {
  margin-right: 6px;
  margin-bottom: 4px;
  color: #a9a9a9;
}

.list-item-value {
  color: #2c2c2c;
}

.item-value--array {
  color: #2c2c2c;
}

.item-value--object {
  color: rgb(86, 81, 255);
}

.item-value--string {
  color: #08ca77;
}
